.header__title {
  text-align: center;
  font-family: "Poppins";
  line-height: 1.2;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1d71b5;
  margin: 50px 0 0;
}

.header__subtitle {
  text-align: center;
  font-family: "Poppins";
  line-height: 1.2;
  font-weight: bold;
  font-size: 40px;
  color: #92be1f;
}

.header__text {
  text-align: center;
  font-family: "Poppins";
  line-height: 1.5;
  font-weight: normal;
  font-size: 30px;
}
