.header__title {
  text-align: center;
  font-family: "Poppins";
  line-height: 1.2;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1d71b5;
  margin: 50px 0 0;
}

.header__subtitle {
  text-align: center;
  font-family: "Poppins";
  line-height: 1.2;
  font-weight: bold;
  font-size: 40px;
  color: #92be1f;
}

.header__text {
  text-align: center;
  font-family: "Poppins";
  line-height: 1.5;
  font-weight: normal;
  font-size: 30px;
}

@media screen and (max-width: 1024px) {
  .header__title {
    line-height: 1.2;
    font-size: 60px;
    font-weight: bold;
    margin: 30px 0 0;
  }

  .header__subtitle {
    line-height: 1.2;
    font-weight: bold;
    font-size: 20px;
  }

  .header__text {
    line-height: 1.5;
    font-weight: normal;
    font-size: 16px;
    margin: 0 30px 30px;
  }
}

@media screen and (max-width: 844px) {
  .header__title {
    line-height: 1.2;
    font-size: 50px;
    font-weight: bold;
    margin: 30px 0 0;
  }
  .header__text {
    margin: 0 30px 30px;
  }
}

@media screen and (max-width: 710px) {
  .header__title {
    line-height: 1.2;
    font-size: 40px;
    font-weight: bold;
  }
}

@media screen and (max-width: 620px) {
  .header__title {
    line-height: 1.2;
    font-size: 35px;
    font-weight: bold;
  }

  .header__subtitle {
    margin: 0 30px 30px;
  }
}

@media screen and (max-width: 480px) {
  .header__title {
    line-height: 1.2;
    font-size: 30px;
    font-weight: bold;
  }

  .header__subtitle {
    margin: 0 30px 30px;
  }
}

@media screen and (max-width: 320px) {
  .header__title {
    line-height: 1.2;
    font-size: 25px;
    font-weight: bold;
  }

  .header__subtitle {
    margin: 0 20px 20px;
  }
}
