.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card__title {
  font-size: 28px;
  font-weight: bold;
  background-color: #009ce0;
  color: #fff;
  padding: 30px;
  text-align: center;
  margin: 0;
}

.card__title-subColor {
  background-color: #1d71b5;
  color: #fff;
}

.card__image {
  max-width: 100%;
}

.card__text {
  font-size: 20px;
  font-weight: normal;
  text-align: justify;
  line-height: 1.5;
}

.card__footer {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
  text-align: center;
  border-top: 5px solid #92be1f;
  padding-top: 15px;
  color: #29235c;
}

.card__footer-span {
  color: #92be1f;
  font-weight: bold;
}

.card-footer {
  grid-column: span 2;
}

@media screen and (max-width: 1024px) {
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 0 30px;
  }
  .card__title {
    font-size: 24px;
    font-weight: bold;
    background-color: #009ce0;
    color: #fff;
    padding: 25px;
    text-align: center;
    margin: 0;
  }

  .card__text {
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
    line-height: 1.5;
  }

  .card__image {
    width: 100%;
  }
}

@media screen and (max-width: 844px) {
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin: 0 30px;
  }

  .card__title {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin: 0;
  }
}

@media screen and (max-width: 710px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 620px) {
  .content {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .content {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
}
